
  
  .big-box {
    background-image: url(./Hero.jpg);
    height: 1440px;
    .hero-section {
      padding-top: 94px;
      padding-bottom: 370px;
      .discover-box {
        width: 61.52%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding-left: 191px;
        .first-text {
          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 50px;
          line-height: 60px;
          color: #ffffff;
          width: 69.55%;
        }
        .more-info {
          width: 61.54%;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .input-button {
          display: flex;
          justify-content: space-between;
          gap: 60px;
          cursor: pointer;
          div {
            display: flex;
            gap: 23px;
            align-items: center;
            width: 297px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
            border-bottom: 2px solid #bfc0c5;
          }
          button {
            width: 171px;
            background-color: #1b7dff;
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
            padding: 15px 39px;
            border: 0;
            cursor: pointer;
          }
        }
      }
    }
    header {
      display: flex;
      justify-content: center;
      .navigation {
        width: 1078px;
        padding-top: 18px;
        display: flex;
        justify-content: space-between;
        .navlinks {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
            color: #ffffff;
          }
        }
        div {
          width: 490px;
        }
      }
    }
  }
  .second-part {
   
    .get-inspired-section {
      width: 1264px;
      margin-left: 88px;
      margin-right: 88px;
      margin-top: 136px;
    }
    .get-inspired-header {
      width: 457px;
      font-family: Lato;
      font-size: 35px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0px;
      text-align: left;
      color: #102746;
      border-bottom: 2px solid #006dfe;
      margin-top: 7px;
    }
    .get-inspired-view {
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: right;
      color: #006dfe;
      margin-top: 14px;
      img {
        width: 33px;
        height: 8px;
        margin-top: 7px;
      }
    }
  
    .get-inspired-pic {
      display: flex;
      justify-content: space-between;
    }
    .get-inspired-pics {
      display: flex;
      margin-top: 10px;
      gap: 10px;
    }
    .prefecture-neighborhood-section {
      margin-right: 84px;
      margin-left: 85px;
      margin-top: 131px;
    }
  
    .prefecture-text-img {display: flex;
      gap: 100px;
      margin-top: 131px;}
    .text{display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  h1{font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;}
  h2{font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #102746;}
  h3{font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;}}
  
    .neighborhood-text-img {
      display: flex;
     flex-direction: row-reverse;
      gap: 97px;
      margin-top: 90px;
    }
    .text-neighborhood{display: flex;
      flex-direction: column;
      justify-content: space-between;} 
      h4 {
      font-family: Lato;
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
      color: #102746;
    }
    h5 {
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #102746;
    }
    h6 {
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #006dfe;
      
    }
    .header {
      width: 369px;
      margin-left: 85px;
      margin-right: 986px;
      margin-top: 152px;
      font-family: Lato;
      font-size: 35px;
      font-weight: 500;
      line-height: 42px;
      letter-spacing: 0px;
      text-align: left;
      color: #102746;
      border-bottom: 2px Solid #006dfe;
    }
    .cities-japan {
      display: flex;
      flex-direction: column;
    }
    .main-cities {
      display: flex;
    }
    .nagoya {
      width: 392px;
      margin-left: 81px;
      margin-top: 54px;
  
      .image-wrapper {
        width: 386px;
        margin-top: 54px;
        margin-bottom: 45px;
        position: relative;
  
        .image-info {
          bottom: 0px;
          display: flex;
          gap: 157px;
          margin-bottom: 3px;
          position: absolute;
          background-color: rgba(21, 24, 36, 0.6);
          .nagoya-text {
            font-family: Lato;
            padding-top: 16px;
            padding-bottom: 15px;
            margin-left: 25px;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
          }
          .nagoya-text-signs {
            display: flex;
            gap: 14px;
            p {
              font-family: Lato;
              display: flex;
              padding-top: 16px;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0px;
              text-align: left;
              text-decoration: none;
              color: #ffffff;
            }
            img {
              padding-bottom: 16px;
              margin-right: 20px;
            }
          }
        }
      }
    }
    .niigata {
      width: 392px;
      margin-left: 81px;
      margin-top: 54px;
  
      .image-wrapper-niigata {
        width: 386px;
        margin-top: 54px;
        margin-bottom: 45px;
        position: relative;
  
        .image-info-niigata {
          bottom: 0px;
          display: flex;
          gap: 157px;
          margin-bottom: 3px;
          position: absolute;
          background-color: rgba(21, 24, 36, 0.6);
          .niigata-text {
            font-family: Lato;
            padding-top: 16px;
            padding-bottom: 15px;
            margin-left: 25px;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
          }
          .niigata-text-signs {
            display: flex;
            gap: 14px;
            p {
              font-family: Lato;
              display: flex;
              padding-top: 16px;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0px;
              text-align: left;
              text-decoration: none;
              color: #ffffff;
            }
            img {
              padding-bottom: 16px;
              margin-right: 21px;
            }
          }
        }
      }
    }
    .osaka {
      width: 392px;
      margin-left: 81px;
      margin-top: 54px;
  
      .image-wrapper-osaka {
        width: 386px;
        margin-top: 54px;
        margin-bottom: 45px;
        position: relative;
  
        .image-info-osaka {
          bottom: 0px;
          display: flex;
          gap: 157px;
          margin-bottom: 3px;
          position: absolute;
          background-color: rgba(21, 24, 36, 0.6);
          .osaka-text {
            font-family: Lato;
            padding-top: 16px;
            padding-bottom: 15px;
            margin-left: 25px;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
          }
          .osaka-text-signs {
            display: flex;
            gap: 14px;
            p {
              font-family: Lato;
              display: flex;
              padding-top: 16px;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0px;
              text-align: left;
              text-decoration: none;
              color: #ffffff;
            }
            img {
              padding-bottom: 16px;
              margin-right: 26.9px;
            }
          }
        }
      }
    }
    .other-cities {
      display: flex;
    }
    .saitama {
      width: 392px;
      margin-left: 81px;
      margin-top: 54px;
  
      .image-wrapper-saitama {
        width: 386px;
        margin-top: 54px;
        margin-bottom: 45px;
        position: relative;
  
        .image-info-saitama {
          bottom: 0px;
          display: flex;
          gap: 157px;
          margin-bottom: 4px;
          position: absolute;
          background-color: rgba(21, 24, 36, 0.6);
          .saitama-text {
            font-family: Lato;
            padding-top: 16px;
            padding-bottom: 15px;
            margin-left: 25px;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
          }
          .saitama-text-signs {
            display: flex;
            gap: 14px;
            p {
              font-family: Lato;
              display: flex;
              padding-top: 16px;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0px;
              text-align: left;
              text-decoration: none;
              color: #ffffff;
            }
            img {
              padding-bottom: 16px;
              margin-right: 18px;
            }
          }
        }
      }
    }
    .ueno {
      width: 392px;
      margin-left: 81px;
      margin-top: 54px;
  
      .image-wrapper-ueno {
        width: 386px;
        margin-top: 54px;
        margin-bottom: 45px;
        position: relative;
  
        .image-info-ueno {
          bottom: 0px;
          display: flex;
          gap: 157px;
          margin-bottom: 4px;
          position: absolute;
          background-color: rgba(21, 24, 36, 0.6);
          .ueno-text {
            font-family: Lato;
            padding-top: 16px;
            padding-bottom: 15px;
            margin-left: 25px;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
          }
          .ueno-text-signs {
            display: flex;
            gap: 14px;
            p {
              font-family: Lato;
              display: flex;
              padding-top: 16px;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0px;
              text-align: left;
              text-decoration: none;
              color: #ffffff;
            }
            img {
              padding-bottom: 16px;
              margin-right: 24px;
            }
          }
        }
      }
    }
    .shibuya {
      width: 392px;
      margin-left: 81px;
      margin-top: 54px;
  
      .image-wrapper-shibuya {
        width: 386px;
        margin-top: 54px;
        margin-bottom: 45px;
        position: relative;
  
        .image-info-shibuya {
          bottom: 0px;
          display: flex;
          gap: 157px;
          margin-bottom: 4px;
          position: absolute;
          background-color: rgba(21, 24, 36, 0.6);
          .shibuya-text {
            font-family: Lato;
            padding-top: 16px;
            padding-bottom: 15px;
            margin-left: 25px;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            text-decoration: none;
            color: #ffffff;
          }
          .shibuya-text-signs {
            display: flex;
            gap: 14px;
            p {
              font-family: Lato;
              display: flex;
              padding-top: 16px;
              font-size: 16px;
              font-weight: 500;
              line-height: 24px;
              letter-spacing: 0px;
              text-align: left;
              text-decoration: none;
              color: #ffffff;
            }
            img {
              padding-bottom: 16px;
              margin-right: 19px;
            }
          }
        }
      }
    }
  
    text {
      width: 391px;
      font-family: Lato;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      color: #102746;
    }
    div button {
      width: 118px;
      margin-top: 31px;
      background-color: #006dfe;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0px;
      padding: 12px 19px;
      color: #ffffff;
      border: 0;
      cursor: pointer;
    }
  }
  .video-section {
    margin-top: 144px;
    img {
      width: 100%;
    }
  }
  @media (min-width: 956px) and (max-width: 1425px) {
    .second-part {
      .cities-japan {
        flex-direction: row;
        justify-content: center;
      }
      .main-cities {
        flex-direction: column;
      }
      .other-cities {
        flex-direction: column;
      }
    }
  }
  @media (min-width: 551px) and (max-width: 955px) {
    .second-part {
      .cities-japan {
        justify-content: center;
        align-items: center;
      }
      .main-cities {
        flex-direction: column;
      }
      .other-cities {
        flex-direction: column;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 550px) {
    .big-box header .navigation .navlinks {display: none;}
    
    .second-part {
      .header{
        margin-left: auto;
        margin-right: auto;
        font-family: Lato;
        font-size: 20px;
      }
      
      .get-inspired-section{width: auto;
      margin-top: auto;};
      .get-inspired-header{width: auto;}
      .get-inspired-pic{gap: 10px;
      flex-direction: column;}
      .get-inspired-pics{
        flex-direction: column;
        gap: 10px;
      margin-top: 10px;}
      .cities-japan {
        justify-content: center;
        align-items: center;
        img {
          width: 300px;
        }
        p img {
          width: 15px;
        }
      }
      .main-cities {
        flex-direction: column;
      }
      .other-cities {
        flex-direction: column;
      }
    }
    .second-part .nagoya {
      max-width: 303px;
      margin-left: auto;
      margin-right: auto;
      .image-wrapper .image-info {
        bottom: 0px;
        display: flex;
        gap: 69.5px;
        margin-bottom: 4.5px;
        position: absolute;
        background-color: rgba(21, 24, 36, 0.6);
      }
    }
  .second-part .niigata {
      max-width: 303px;
      margin-left: auto;
      margin-right: auto;
      .image-wrapper-niigata .image-info-niigata {
        bottom: 0px;
        display: flex;
        gap: 69.5px;
        margin-bottom: 4.5px;
        position: absolute;
        background-color: rgba(21, 24, 36, 0.6);
      }
    }
    .second-part .osaka {
      max-width: 303px;
      margin-left: auto;
      margin-right: auto;
      .image-wrapper-osaka .image-info-osaka {
        bottom: 0px;
        display: flex;
        gap: 69.5px;
        margin-bottom: 4.5px;
        position: absolute;
        background-color: rgba(21, 24, 36, 0.6);
      }
    }
    .second-part .saitama {
      max-width: 303px;
      margin-left: auto;
      margin-right: auto;
      .image-wrapper-saitama .image-info-saitama {
        bottom: 0px;
        display: flex;
        gap: 69.5px;
        margin-bottom: 4.5px;
        position: absolute;
        background-color: rgba(21, 24, 36, 0.6);
      }
    }
    .second-part .ueno {
      max-width: 303px;
      margin-left: auto;
      margin-right: auto;
      .image-wrapper-ueno .image-info-ueno {
        bottom: 0px;
        display: flex;
        gap: 69.5px;
        margin-bottom: 4.5px;
        position: absolute;
        background-color: rgba(21, 24, 36, 0.6);
      }
    }
    .second-part .shibuya {
      max-width: 303px;
      margin-left: auto;
      margin-right: auto;
      .image-wrapper-shibuya .image-info-shibuya {
        bottom: 0px;
        display: flex;
        gap: 69.5px;
        margin-bottom: 4.5px;
        position: absolute;
        background-color: rgba(21, 24, 36, 0.6);
      }
    }
    .big-box .hero-section {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0px;
      .discover-box {
        width: 100%;
        padding-left: 0px;
        .input-button {
          flex-direction: column;
        }
      }
    }}