
  
  .big-box {
    background-image: url(./Hero.jpg);
    height: 1440px;
    .hero-section {
      padding-top: 94px;
      padding-bottom: 370px;
      .discover-box {
        width: 61.52%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding-left: 191px;
        .first-text {
          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 50px;
          line-height: 60px;
          color: #ffffff;
          width: 69.55%;
        }
        .more-info {
          width: 61.54%;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .input-button {
          display: flex;
          justify-content: space-between;
          gap: 60px;
          cursor: pointer;
          div {
            display: flex;
            gap: 23px;
            align-items: center;
            width: 297px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
            border-bottom: 2px solid #bfc0c5};
          button {
            width: 171px;
            background-color: #1b7dff;
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
            padding: 15px 39px;
            border: 0;
            cursor: pointer;
          }
        }
      }
    }
    header {
      display: flex;
      justify-content: center;
      .navigation {
        width: 1078px;
        padding-top: 18px;
        display: flex;
        justify-content: space-between;
        .navlinks {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
            color: #ffffff;
          }
        }
        div {
          width: 490px;
        }
      }
    }
  }
  .second-part {
   
    .get-inspired-section {
      width: 1264px;
      margin-left: 88px;
      margin-right: 88px;
      margin-top: 136px;
    }
    .get-inspired-header {
      width: 457px;
      font-family: Lato;
      font-size: 35px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0px;
      text-align: left;
      color: #102746;
      border-bottom: 2px solid #006dfe;
      margin-top: 7px;
    }
    .get-inspired-view {
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: right;
      color: #006dfe;
      margin-top: 14px;
      img {
        width: 33px;
        height: 8px;
        margin-top: 7px;
      }
    }
  
    .get-inspired-pic {
      display: flex;
      justify-content: space-between;
    }
    .get-inspired-pics {
      display: flex;
      margin-top: 10px;
      gap: 10px;
    }
    .prefecture-neighborhood-section {
      margin-right: 84px;
      margin-left: 85px;
      margin-top: 131px;
    }
  
    .prefecture-text-img {display: flex;
      gap: 100px;
      margin-top: 131px;}
    .text{display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  h1{font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;}
  h2{font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #102746;}
  h3{font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;}}
  
    .neighborhood-text-img {
      display: flex;
     flex-direction: row-reverse;
      gap: 97px;
      margin-top: 90px;
    }
    .text-neighborhood{display: flex;
      flex-direction: column;
      justify-content: space-between;} 
      h4 {
      font-family: Lato;
      font-size: 30px;
      font-weight: 500;
      line-height: 40px;
      color: #102746;
    }
    h5 {
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #102746;
    }
    h6 {
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: #006dfe;
      
    }
    
  .video-section {
    margin-top: 144px;
    img {
      width: 100%;
    }
  }
  @media (min-width: 956px) and (max-width: 1425px) {
    .second-part {
      .cities-japan {
        flex-direction: row;
        justify-content: center;
      }
      .main-cities {
        flex-direction: column;
      }
      .other-cities {
        flex-direction: column;
      }
    }
  }
  @media (min-width: 551px) and (max-width: 955px) {
    .second-part {
      .cities-japan {
        justify-content: center;
        align-items: center;
      }
      .main-cities {
        flex-direction: column;
      }
      .other-cities {
        flex-direction: column;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 550px) {
    .big-box header .navigation .navlinks {display: none;}
    
    .second-part {
      .header{
        margin-left: auto;
        margin-right: auto;
        font-family: Lato;
        font-size: 20px;
      }
      
      .get-inspired-section{width: auto;
      margin-top: auto;};
      .get-inspired-header{width: auto;}
      .get-inspired-pic{gap: 10px;
      flex-direction: column;}
      .get-inspired-pics{
        flex-direction: column;
        gap: 10px;
      margin-top: 10px;}
    .big-box .hero-section {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0px;
      .discover-box {
        width: 100%;
        padding-left: 0px;
        .input-button {
          flex-direction: column;
        }
      }
    }}}}