
  
  .big-box {
    background-image: url(./Hero.jpg);
    height: 1440px;
    .hero-section {
      padding-top: 94px;
      padding-bottom: 370px;
      .discover-box {
        width: 61.52%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        padding-left: 191px;
        .first-text {
          font-family: "Lato";
          font-style: normal;
          font-weight: 500;
          font-size: 50px;
          line-height: 60px;
          color: #ffffff;
          width: 69.55%;
        }
        .more-info {
          width: 61.54%;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .input-button {
          display: flex;
          justify-content: space-between;
          gap: 60px;
          cursor: pointer;
          div {
            display: flex;
            gap: 23px;
            align-items: center;
            width: 297px;
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
            border-bottom: 2px solid #bfc0c5};
          button {
            width: 171px;
            background-color: #1b7dff;
            font-family: "Lato";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
            padding: 15px 39px;
            border: 0;
            cursor: pointer;
          }
        }
      }
    }
    header {
      display: flex;
      justify-content: center;
      .navigation {
        width: 1078px;
        padding-top: 18px;
        display: flex;
        justify-content: space-between;
        .navlinks {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
            color: #ffffff;
          }
        }
        div {
          width: 490px;
        }
      }
    }
  }
  .second-part {
  .video-section {
    margin-top: 144px;
    img {
      width: 100%;
    }
  }
  @media (min-width: 956px) and (max-width: 1425px) {
    .second-part {
      .cities-japan {
        flex-direction: row;
        justify-content: center;
      }
      .main-cities {
        flex-direction: column;
      }
      .other-cities {
        flex-direction: column;
      }
    }
  }
  @media (min-width: 551px) and (max-width: 955px) {
    .second-part {
      .cities-japan {
        justify-content: center;
        align-items: center;
      }
      .main-cities {
        flex-direction: column;
      }
      .other-cities {
        flex-direction: column;
      }
    }
  }
  @media (min-width: 320px) and (max-width: 550px) {
    .big-box header .navigation .navlinks {display: none;}
    
    .second-part {
      .header{
        margin-left: auto;
        margin-right: auto;
        font-family: Lato;
        font-size: 20px;
      }
      
    .big-box .hero-section {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0px;
      .discover-box {
        width: 100%;
        padding-left: 0px;
        .input-button {
          flex-direction: column;
        }
      }
    }}}}